<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/EmailService/src/com/adobe/cq/sample/email/CustomEmailService.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.adobe.cq.sample.email.CustomEmailService"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="EmailService"/>
</launchConfiguration>
